.single-movie-display,
.loading-movie-details {
  background-color: rgb(34, 33, 33);
  height: 94vh;
  width: 100vw;
  margin-bottom: 2vh;
}

.loading-movie-details,
.no-movie-found {
  text-align: center;
  margin: 40vh 0 50vh 0;
}

.go-back-all-movies:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.go-back-all-movies {
  margin-left: 20px;
  height: 25px;
  width: 80px;
  border-radius: 8px;
  background-color: #f4d35e;
  font-weight: 600;
  cursor: pointer;
}

.go-back-all-movies:hover {
  box-shadow: 0px 0px 8px 2px #f95738;
}

.no-movie-back-button {
  margin-top: 2vh;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  background-color: #f4d35e;
  font-weight: 600;
  cursor: pointer;
}

.no-movie-back-button:hover {
  box-shadow: 0px 0px 8px 2px #f95738;
}

.single-movie-title-tag {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.movie-title-details {
  font-size: 36px;
  color: #F95738;
  text-align: center;
}

.movie-tagline {
  font-style: italic;
  color: #f4d35e;
  font-size: 24px;
  font-weight: 500;
}

.poster-details-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.movie-overview {
  height: fit-content;
  margin: 0 4px 35px 4px;
}

.single-movie-poster {
  height: 80vh;
  box-shadow: 2px 2px 12px 0px #f4d35e;
  border-radius: 10px;
  overflow: auto;
}

.single-movie-details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: 0 10px 0 10px;
}

.movie-details-copy {
  margin: 4px;
}

.movie-details-divider, 
.production-details-divider {
  width: 50vw;
  background-color: #f4d35e;
  border-radius: 5px;
}

.movie-details-section, 
.production-details-section {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.production-details-section {
  display: flex;
}

.movie-trailer {
  margin-right: auto;
  margin-left: auto;
  width: 534px;
  height: 300px;
}

@media only screen and (max-width: 1070px) {
  .poster-details-section{
    margin-top: 0vh;
    align-items: center;
  }

  .single-movie-poster {
    height: 60vh;
  }

  .movie-title-details {
    font-size: 30px;
  }
  
  .movie-trailer {
    width: 50vw;
    height: 300px;
  }
}

@media only screen and (max-width: 850px) {
  .single-movie-display {
    height: fit-content;
  }

  .poster-details-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .single-movie-details-section {
    width: 96vw;
    margin-top: 16px;
  }

  .movie-details-divider,
  .production-details-divider {
    width: 96vw;
  }

  .movie-trailer {
    width: 96vw;
    height: 50vh;
  }

  .movie-overview {
    margin-top: 10px;
  }
}

.hidden {
  display: none;
}