.movie-tile {
  background-color: rgb(34, 33, 33);
  height: fit-content;
  width: 300px;
  color: #F4D35E;
  text-align: center;
  border: 2px solid red;
}

.movie-tile:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.movie-title {
  font-size: 20px;
  color: #F95738;
  /* margin-top: 5vh; */
}

.movie-rating {
  font-size: 16px;
  padding-top: 2vh;
}

.movie-poster {
  height: 400px;
  width: 300px;
  box-shadow: 1px 1px 8px 0px #f4d35e;
  border-radius: 5px;
}

.movie-link {
  text-decoration: none;
  height: 465px;
  border: 2px solid purple;
  margin-bottom: 90px;

}

@media only screen and (max-width: 450px) {
  .movie-poster{
    height: 375px;
    width: 250px;
  }

  .movie-tile:hover {
    transform: scale(1.1);
  }
}