.movie-tile {
  background-color: rgb(34, 33, 33);
  height: fit-content;
  width: fit-content;
  color: #F4D35E;
  margin: 1vw;
  text-align: center;
}

.movie-tile:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.movie-title {
  font-size: 20px;
  color: #F95738;
}

.movie-rating {
  font-size: 16px;
  padding-top: 2vh;
}

.movie-poster {
  height: 300px;
  width: 200px;
  box-shadow: 1px 1px 8px 0px #f4d35e;
  border-radius: 5px;
}

.movie-link {
  text-decoration: none;
  height: fit-content;
  margin-top: 5.8vh;
}

@media only screen and (max-width: 450px) {
  .movie-poster{
    height: 375px;
    width: 250px;
  }

  .movie-tile:hover {
    transform: scale(1.1);
  }
}