.all-movies-view {
  background-color: rgb(34, 33, 33);
  height: fit-content;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding-bottom: 10vh;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1100px) {
  .all-movies-view {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .all-movies-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 640px) {
  .all-movies-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .all-movies-view {
    grid-template-columns: repeat(1, 1fr);
  }
}