*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(34, 33, 33);
}

.App {
  text-align: center;
  background-color: rgb(34, 33, 33);
}

h2 {
  color: #F4D35E;
  font-size: 24px;
}

h3 {
  color: rgb(34, 33, 33);
  font-size: 22px;
  margin-left: 3px;
}

p {
  color: #f0dfa3;
  font-size: 18px;
}

.error-message {
  font-size: 48px;
  font-weight: 700;
  color: black;
  width: 62vw;
  margin: auto;
  margin-top: 30vh;
}

.loading {
  text-align: center;
  background-color: rgb(34, 33, 33);
  height: 90vh;
  padding-top: 30vh;
}
