.header {
  width: 100vw;
  height: 70px;
  background-color: rgb(34, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.site-name {
  font-size: 70px;
  color: #F95738;
  font-family: 'Passion One', cursive;
  font-weight: 700;
  margin-top: 11px;
  margin-right: 5px;
}

.site-title-link {
  text-decoration: none;
}

.popcorn-icon {
  height: 61px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}